[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appnope = "==0.1.2"
asgiref = "==3.3.4"
backcall = "==0.2.0"
certifi = "==2021.5.30"
cffi = "==1.14.5"
chardet = "==4.0.0"
cryptography = "==3.4.7"
decorator = "==5.0.9"
deprecation = "==2.1.0"
django-rest-knox = "==4.1.0"
djangorestframework = "==3.12.4"
frozendict = "==2.0.2"
idna = "==2.10"
ipython = "==7.24.1"
jedi = "==0.18.0"
matplotlib-inline = "==0.1.2"
numpy = "==1.20.3"
pandas = "==1.2.4"
parso = "==0.8.2"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.18"
psycopg2 = "==2.8.6"
ptyprocess = "==0.7.0"
pycparser = "==2.20"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
pytz = "==2021.1"
requests = "==2.25.1"
six = "==1.16.0"
sqlparse = "==0.4.1"
sseclient = "==0.0.27"
temporal-cache = "==0.1.4"
traitlets = "==5.0.5"
tzlocal = "==2.1"
urllib3 = "==1.26.5"
wcwidth = "==0.2.5"
websocket-client = "==1.0.1"
Django = "==3.2.3"
ipython_genutils = "==0.2.0"
Pillow = "==8.2.0"
pyEX = "==0.5.0"
Pygments = "==2.9.0"
socketIO-client-nexus = "==0.7.6"
python-dotenv = "*"
django-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
